// @use "./partials/mixins.scss";
@use "./partials/about";
@use "./partials/contact";
@use "./partials/projects";
@use "./partials/details";
@use "./partials/skills";
@use "./partials/_mediaQueries";

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@200;500&display=swap");

$main-font: "Poppins", sans-serif;
$about-font: "Cedarville Cursive", cursive;
$heading-colour: #a1cbe9;
$subheading-colour: #94c5cc;

@mixin section-divide {
  padding-bottom: 20px;
  border-bottom: 2px solid $subheading-colour;
}

@mixin section-heading {
  color: $subheading-colour;
  font-family: $main-font;
  display: block;
  font-size: 35px;
}

* {
  background-color: #efe6e6;
  box-sizing: border-box;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    display: none;
  }
}

.footer {
  font-family: $main-font;
  font-weight: 200;
  display: flex;
  justify-content: end;
  margin: 20px;
  text-align: end;
}
