// @use "partials/mixins.scss";

$main-font: "Poppins", sans-serif;
$about-font: "Cedarville Cursive", cursive;
$heading-colour: #a1cbe9;
$subheading-colour: #94c5cc;

@mixin section-divide {
  padding-bottom: 40px;
  border-bottom: 2px solid $subheading-colour;
}

@mixin section-heading {
  color: $subheading-colour;
  font-family: $main-font;
  display: block;
  font-size: 35px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      display: none;
    }

    &__imgsmall {
      text-align: center;
      display: block;
      flex-direction: column;
      align-items: center;

      &--small {
        max-width: 250px;
        max-height: 250px;
        width: 100%;
        height: auto;
        margin: auto;
      }
    }
  }
}

.about {
  display: flex;
  margin: 10px;
  font-family: $main-font;
  font-weight: 200;

  &__img {
    width: calc(50%);

    &--small {
      // display: none;
    }
  }

  &__title {
    color: $heading-colour;
    text-align: center;
    font-size: 60px;
    margin: 30px;
    font-weight: 200;
  }

  &__subsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    &--title {
      text-align: center;
      font-family: $about-font;
      color: $subheading-colour;
      font-size: 40px;
    }

    &--penimg {
      width: 50px;
      height: 50px;
      margin-top: 25px;
      transform: rotate(10deg);
    }
  }

  &__text--style {
    flex-direction: column;
    padding: 35px;
    text-align: justify;
    font-family: $main-font;
    line-height: 1.5;
  }

  &__blurb {
    @include section-divide;
  }
}
