// @use "partials/mixins.scss";

$main-font: "Poppins", sans-serif;
$about-font: "Cedarville Cursive", cursive;
$heading-colour: #a1cbe9;
$subheading-colour: #94c5cc;

@mixin section-divide {
  padding-bottom: 40px;
  border-bottom: 2px solid $subheading-colour;
}

@mixin section-heading {
  color: $subheading-colour;
  font-family: $main-font;
  display: block;
  font-size: 35px;
}

.contact {
  font-family: $main-font;
  font-weight: 200;
  margin: 45px;
  @include section-divide;
  &__title {
    h1 {
      @include section-heading;
    }
  }

  &__card {
    display: flex;
    justify-content: space-around;

    &--item {
      display: flex;

      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
    }
    a {
      text-decoration: none;
      color: black;
    }

    i {
      color: $heading-colour;
      font-size: 100px;
    }

    i:hover {
      color: #59a8e1;
    }
  }
}
