// @use "partials/mixins.scss";

$main-font: "Poppins", sans-serif;
$about-font: "Cedarville Cursive", cursive;
$heading-colour: #a1cbe9;
$subheading-colour: #94c5cc;

@mixin section-divide {
  padding-bottom: 40px;
  border-bottom: 2px solid $subheading-colour;
}

@mixin section-heading {
  color: $subheading-colour;
  font-family: $main-font;
  display: block;
  font-size: 35px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .details {
    gap: 10px;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
  @include section-divide;
  font-family: $main-font;
  font-weight: 200;

  &__information {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__information img {
    width: 50px;
    margin-right: 10px;
  }
}
