h1 ~ p {
  color: grey;
}

h1 + p {
  color: black;
  font-style: italic;
}

h2 ~ p {
  color: black;
  text-decoration: underline;
}

h3 ~ p {
  color: blue;
  text-decoration: none;
}

h3 + p {
  text-decoration: none;
  color: black;
}
